<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="nome" placeholder="nome">
    <input type="text" name="sobrenome" placeholder="nome">
    <input type="text" name="nascimento" placeholder="nome">
    <input type="text" name="cpf" placeholder="nome">
    <input type="text" name="email" placeholder="nome">
    <input type="text" name="senha" placeholder="nome">
    <input type="text" name="telefone" placeholder="nome">
    <input type="text" name="genero" placeholder="nome">
    <button type="submit">Cadastrar</button>
</form>